/* <style>
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;300;500;700;900&family=Roboto:wght@100;300;400;700;900&display=swap');
</style> */


/* font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


/*-------------------------RESETEO COLORES */
:root{
    --gris: #AAAAAA;
    --rosa1: #F38BA0;
    --rosa2: #FFBCBC;
    --rosa3: #FFE2E2;
    --claro1: #F6F6F6;
    --claro2: #EDF6E5;
    --verde1: #B5EAEA;
    /* --degradado: linear-gradient(90deg, var(--limon), var(--verde)); */

}

/*------------------------------RESET---------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    text-decoration: none;
    list-style: none;
    background-color: var(--rosa3);

}

.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr auto;
    grid-template-areas:
    "cabecera"
    "mmindex"
    "pie";
 }

.header{
    grid-area: cabecera;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "headerizq headerder"
    ;
    gap: 5px;
    background-image: url(../assets/img/encabezado2.png);
    background-size: cover;
}

.header figure{
    grid-area: headerizq;
    padding: 20px 0 0 20px;
    /* justify-self: center;
    align-self: center; */
}

.header ul{
    grid-area: headerder;
    display: flex;
    list-style:none;
    flex-direction: row;
    justify-content:right;
    margin-top: 130px;
    padding-right: 40px;
    gap: 20PX;
}


.header li a{
    text-decoration: none;
    font-size: 22px;
    color:var(--claro1);
    font-family: 'Roboto', sans-serif;
}

.header li a:hover {
    color: var(--rosa1);
    font-size: 24px;
}

.navbar li a:active{
    color:var(--rosa2);
    font-size: 24px;
}

.main-index{
    grid-area: mmindex;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "fer2 fer2 fer2 fer1 fer1 fer1"
    "fer2 fer2 fer2 fer3 fer3 fer3"
    "fer2 fer2 fer2 fer3 fer3 fer3"
    "fer4 fer4 fer4 fer4 fer4 fer4"
    "fer5 fer5 fer5 fer5 fer5 fer5"
    "fer5 fer5 fer5 fer5 fer5 fer5"
    "fer6 fer6 fer6 fer6 fer6 fer6"
    ;
    gap: 5px;
    background-color: var(--rosa3);

}

.main-index-uno{
    grid-area: fer1;
    justify-self: center;
    align-self: center;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color:#F38BA0;
    /* -webkit-text-stroke: 1px #000000;     (esto es para darle borde a las letras */ 
}

.main-index-dos{
    grid-area: fer2;
    padding: 30px;
    justify-self: center;
    border-radius: 50%;
}

.main-index-tres{
    grid-area: fer3;
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    width: 550px;
}

.main-index-cuatro{
    grid-area: fer4;
    align-self:self-end;
    text-align: center;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    color:#F38BA0;
}

.main-index-cinco{
    grid-area: fer5;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.main-index-seis{
    grid-area: fer6;
    justify-self: center;
    align-self:self-start;
    text-align: center;
    font-size: 20px;
    width: 1250px;
}




.footer{
    grid-area: pie;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "f1 f2 f3"
    ;
    background-color: var(--rosa2);
    padding-top: 20px;
    padding-left: 20px;
    color: black;
    /* color:var(--rosa1); */

}

.footer-footer1 h3{
    grid-area: f1;
    padding-bottom: 10px;
    padding-left: 90px;
}

.footer-footer1 figure{
    display: flex;
    flex-direction: row;
    align-items: center;

}


/* .footer-footer1 figure a img:hover{
  background-image: url(../assets/img/facebook.png);
} */

.footer-footer1 figcaption{
    width: 250px;
}

.footer-footer2 h3{
    padding-left: 170px;
}

.footer-footer2 figure{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.footer-footer3 {
    display: flex;
    flex-direction:column;
}

.footer-footer3 h3{
    padding-bottom: 10px;
    padding-left: 130px;
}

.footer-footer3 figure{
    display: flex;
    /* flex-direction: row; */
    align-self: center;
    align-items: center;
}

.footer-footer3 figcaption{
    padding-left: 5px;
}

.footer-footer3 figcaption p{
    letter-spacing: 2px;
}






.main-tratamientos{
    display:grid;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "fer1 fer1 fer1 fer1 fer1 fer1"
    "fer2 fer2 fer3 fer3 fer4 fer4"
    "fer2 fer2 fer3 fer3 fer4 fer4"
    "fer5 fer5 fer6 fer6 fer7 fer7"
    "fer5 fer5 fer6 fer6 fer7 fer7"
    "fer8 fer8 fer8 fer8 fer8 fer8"
    "fer9 fer9 fer9 fer9 fer9 fer9"
    ;
    gap: 5px;
    background-color: var(--rosa3);

}

.main-tratamientos1{
    grid-area: fer1;
    justify-self: center;
    align-self: center;
    font-size: 40px;
    font-family: 'Delicious Handrawn', cursive;
    color:#F38BA0;

}
.main-tratamientos2{
    grid-area: fer2;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-tratamientos2 img{
    width: auto;
    height: auto;
}

.main-tratamientos3{
    grid-area: fer3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-tratamientos3 img{
    width: auto;
    height: auto;
}

.main-tratamientos4{
    grid-area: fer4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-tratamientos4 img{
    width: auto;
    height: auto;
}
.main-tratamientos5{
    grid-area: fer5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-tratamientos5 img{
    width: auto;
    height: auto;
}
.main-tratamientos6{
    grid-area: fer6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-tratamientos6 img{
    width: auto;
    height: auto;
}
.main-tratamientos7{
    grid-area: fer7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-tratamientos7 img{
    width: auto;
    height: auto;
    /* border: 2px solid #5b0303; */
}

.main-tratamientos figcaption{
    display:flex;
    justify-content: center;
}

.main-tratamientos8{
    grid-area: fer8;
    justify-self: center;
    align-self:flex-end;
    font-size: 20px;
    font-family: 'Delicious Handrawn', cursive;
    color:#F38BA0;
}
.main-tratamientos9{
    grid-area: fer9;
    width: 1000px;
    height: 120px;
    border: 2px solid #FFBCBC;
    display: flex;
    align-self: center;
    justify-self: center;
}



/******************** TRATAMIENTOS TODOS  */

.main-tratamientosTodos{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr repeat(5, 1fr) 1fr 2fr;
    grid-template-areas:
    "fer1 fer1"
    "fer2 fer2"
    "fer2 fer2"
    "fer2 fer2"
    "fer2 fer2"
    "fer2 fer2"
    "fer3 fer3"
    "fer4 fer4"
    "fer4 fer4"
    ;
    gap: 5px;
    background-color: var(--rosa3);

}

.main-tratamientosTodos1{
    grid-area: fer1;
    justify-self: center;
    align-self: center;
    font-size: 40px;
    font-family: 'Delicious Handrawn', cursive;
    color:#F38BA0;

}
.main-tratamientosTodos2{
    grid-area: fer2;
    /* padding-left: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
/* .main-tratamientosTodos2 img{
    border-radius: 10%;
    width: 500px;
    height: 400px;
    border: 2px solid #FFBCBC;
} */

.main-tratamientosTodos3{
    grid-area: fer3;
    width: 550px;
    height: 200px;
    border: 2px solid #FFBCBC;
    display: flex;
    align-self: center;
    justify-self: center;

}

.main-tratamientosTodos4{
    grid-area: fer4;
    width: 1000px;
    height: 150px;
    border: 2px solid #FFBCBC;
    display: flex;
    align-self: center;
    justify-self: center;

}



/******************** CONTACTOS  */

.main-contacto{
    display:grid;
    grid-template-columns: repeat(6, 1fr) ;
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
    "fer1 fer1 fer1 fer3 fer3 fer3"
    "fer2 fer2 fer2 fer4 fer4 fer4"
    "fer2 fer2 fer2 fer4 fer4 fer4"
    "fer2 fer2 fer2 fer4 fer4 fer4"
    "fer2 fer2 fer2 fer4 fer4 fer4"
    ;
    gap: 5px;
    background-color: var(--rosa3);
}

.main-formulario-h{
    grid-area: fer1;
    font-size: 40px;
}

.main-formulario{
    grid-area: fer2;
    justify-self: center;
    align-self: center;
    width: 600px;
    height: 800px;
    font-size: 20px;
    font-family: 'Delicious Handrawn', cursive;
    color:#F38BA0;

}

.main-comollegar-h{
    grid-area: fer3;

    font-size: 20px;
}



.main-comollegar{
    grid-area: fer4;
    padding-left: 40px;
    width: 400px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}



/*---------------------------------------------------- @ MEDIA ------------*/
/*---------------------------------------------- 1024   */
@media(max-width:1024px){
    .header{
        grid-area: cabecera;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
        "headerarriba"
        "headerabajo"
        ;
        gap: 5px;
    }

    .header  figure{
        grid-area: headerarriba;
        justify-self:left;
    }
    .header ul{
        grid-area: headerabajo;
        list-style:none;
        margin-top: 40px;
        justify-content:left;
        padding-left: 30px;
        gap: 20PX;
    }
    .header li a{
        padding: 5px 5px 5px 5px ;
        font-weight: bold;
        font-size: 20px;
    }

    .main-index{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "fer2 fer2 fer2 fer1 fer1"
    "fer2 fer2 fer2 fer3 fer3"
    "fer2 fer2 fer2 fer3 fer3"
    "fer4 fer4 fer4 fer4 fer4"
    "fer5 fer5 fer5 fer5 fer5"
    "fer5 fer5 fer5 fer5 fer5"
    "fer6 fer6 fer6 fer6 fer6"
    ;
    }

    .main-index-uno{
        justify-self:left;
        align-self: center;
        text-align: left;
    }

    .main-index-dos{
        grid-area: fer2;
        padding: 20px;
        justify-self: center;
        align-self: center;
        border-radius: 50%;
    }


    .main-index-tres{
        grid-area: fer3;
        justify-self: center;
        align-self: center;
        text-align: center;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        width: 450px;
        padding-right: 20px;
    }
    .main-index-cuatro{
        grid-area: fer4;
        text-align: center;
        padding-left: 10px;
        font-size: 18px;
        font-family: 'Lobster', cursive;
        color:#F38BA0;
    }
    .main-index-cinco img{
        grid-area: fer5;
        width: 1000px;
        height: 300px;
        justify-self: center;
        align-self: center;
        text-align: center;
        border: 2px solid #FFBCBC;

    }
    .main-index-seis{
        grid-area: fer6;
        justify-self: center;
        align-self:self-start;
        text-align: center;
        font-size: 18px;
        width: 1000px;
        font-family: 'Poppins', sans-serif;
    }

    .footer-footer1{
        justify-content: center;
    }

    .footer-footer2{
        justify-content: center;
    }

    .footer-footer2 h3{
        padding-left: 120px;
    }


    .footer-footer3{
        display:block;
        justify-content: center;
    }
    .footer-footer3 h3{
        padding-bottom: 10px;
        padding-left: 50px;
        justify-content: center;
    }


}
/*-------------------------------------------------  768  */
/*------------------------------FOOTER 768  -------- 768 */
@media(max-width:768px){
    .footer-footer1 figure img{
        width: 60px;
        height: 70px;
    }

    .footer-footer2 figure .instagram{
        width: 40px;
        height: 40px;
    }

    .footer-footer2 figure .facebook{
        width: 32px;
        height: 32px;
    }

    .footer-footer3 figure .email{
        width: 38px;
        height: 27px;
    }

    .footer-footer3 figure .wts{
        width: 40px;
        height: 40px;
    }

        /* -----------------------   TRATAMIENTOS Media 768 */

        .main-tratamientos{
            display:grid;
            grid-template-columns: repeat(2, 1fr) ;
            grid-template-rows: repeat(7, 1fr);
            grid-template-areas:
            "fer1 fer1"
            "fer2 fer3"
            "fer2 fer3"
            "fer4 fer5"
            "fer4 fer5"
            "fer6 fer7"
            "fer6 fer7"
            "fer8 fer8"
            "fer9 fer9"
            ;
            gap: 2px;
            background-color: var(--rosa3);

        }


        .main-tratamientos1{
            grid-area: fer1;
            justify-self: center;
            align-self: center;
            font-size: 20px;
            font-family: 'Delicious Handrawn', cursive;
            color:#F38BA0;
        
        }
        .main-tratamientos2{
            grid-area: fer2;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos3{
            grid-area: fer3;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos4{
            grid-area: fer4;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos5{
            grid-area: fer5;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos6{
            grid-area: fer6;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos7{
            grid-area: fer7;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        
        .main-tratamientos8{
            grid-area: fer8;
            justify-self: center;
            align-self:flex-end;
            font-size: 15px;
            font-family: 'Delicious Handrawn', cursive;
            color:#F38BA0;
        }
        .main-tratamientos9{
            grid-area: fer9;
            width: 400px;
            height: auto;
            border: 2px solid #FFBCBC;
            display: flex;
            align-self: center;
            justify-self: center;
        }




        /*-------------------------------------- TRATAMIENTOS TODOS 768 */
    /* .card{
            width: 18rem;
    }
    .card img{
        width: 16rem;
    }

    .card-text p{
        color:red;
        font-size: 16px;
        width: 22rem;

    } */
   

   



}







/*------------------------------------   425   */
@media(max-width:425px){
    .header figure{
        grid-area: headerarriba;
        justify-self:center;
    }
    .header ul{
        grid-area: headerabajo;
        list-style:none;
        margin-top: 40px;
        justify-content:center;
        gap: 20PX;
    }
    .header li a{
        padding: 5px 5px 5px 5px ;
        font-weight: bold;
        font-size: 20px;
    }



    .main-index{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:
        "fer1"
        "fer2"
        "fer2"
        "fer3"
        "fer3"
        "fer4"
        "fer5"
        "fer5"
        "fer6"
        "fer6"
        ;
        }
        .main-index-uno{
            grid-area: fer1;
            justify-self: center;
            align-self: center;
            font-size: 20px;
            font-family: 'Lobster', cursive;
            color:#F38BA0;
        }
        


        .main-index-dos{
            grid-area: fer2;
            padding: 20px;
            justify-self: center;
            align-self: center;
            border-radius: 50%;

        }

        .main-index-dos img{
            width: 350px;
            height: 500px;
        }


        .main-index-tres{
            grid-area: fer3;
            justify-self: center;
            align-self: center;
            text-align: center;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            width: 360px;
            padding-right: 20px;
        }
        .main-index-cuatro{
            grid-area: fer4;
            text-align: center;
            padding-left: 10px;
            font-size: 18px;
            font-family: 'Lobster', cursive;
            color:#F38BA0;
        }
        .main-index-cinco img{
            grid-area: fer5;
            width: 360px;
            height: 200px;
            justify-self: center;
            align-self: center;
            text-align: center;
            border: 2px solid #FFBCBC;

        }
        .main-index-seis{
            grid-area: fer6;
            justify-self: center;
            align-self:self-start;
            text-align: center;
            font-size: 18px;
            width: 360px;
            font-family: 'Poppins', sans-serif;
        }
        /* ---------------------------FOOTER  425 ----------*/
        .footer{
            grid-area: pie;
            display: flex;
            display: grid;

            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
            "f1"
            "f2"
            "f3"
            ;
            background-color: var(--rosa2);
            padding-top: 20px;
            padding-left: 20px;
            color: black;
        }        

        .footer-footer1 h3{
            grid-area: f1;
            padding-bottom: 10px;
            padding-left: 90px;
        }
        
        .footer-footer1 figure{
            display: flex;
        justify-items: center;
        
        }
        .footer-footer1 figure img{
            width: 110px;
            height: 120px;
        }
    

        .footer-footer1 figcaption{
            width: auto;
            font-size: 30px;
        }
        
        .footer-footer2{
            display: grid;
            grid-template-columns: repeat(2,50%);
            grid-template-rows: repeat(1, 2fr);
            grid-template-areas:
            "fer2 fer3"
            ;
        }

        .footer-footer2 h3{
            display: none;

        }

        .footer-footer2 figure .instagram{
            grid-area: fer2;
            width: 94px;
            height: 94px;
            justify-items:center;
        }

        .footer-footer2 figure .facebook{
            grid-area: fer3;
            width: 76px;
            height: 76px;
            justify-items:center;
            align-self: center;
        
        }

        /* .footer-footer2 figure{
            display:flex;
            flex-direction:row;
       
        } */
        .footer-footer2 figure figcaption{
            display:none;
        }


        .footer-footer3 {
            display: flex;
            flex-direction:column;
        }
        
        .footer-footer3 h3{
            display: none;
        }
        
        .footer-footer3 figure{
            display: flex;
            flex-direction: row;
            /* align-self: center;
            align-items: center; */
        }
        
        .footer-footer3 figure .email{
            width: 94px;
            height: 64px;
        }

        .footer-footer3 figure .wts{
            width: 84px;
            height: 84px;

        }
        .footer-footer3 figure figcaption {
            font-size: 30px;
        }

        .footer-footer3 figure figcaption p{
            font-size: 35px;
        }
        

        .footer-footer3 figcaption p{
            letter-spacing: 2px;
        }
        
        
    



        /* -----------------------   TRATAMIENTOS Media 425 */


        .main-tratamientos{
            display:grid;
            grid-template-columns: auto ;
            grid-template-rows: repeat(15, 1fr);
            grid-template-areas:
            "fer1"
            "fer2"
            "fer2"
            "fer3"
            "fer3"
            "fer4"
            "fer4"
            "fer5"
            "fer5"
            "fer6"
            "fer6"
            "fer7"
            "fer7"
            "fer8"
            "fer9"
            ;
            gap: 2px;
            background-color: var(--rosa3);

        }


        .main-tratamientos1{
            grid-area: fer1;
            justify-self: center;
            align-self: center;
            font-size: 20px;
            font-family: 'Delicious Handrawn', cursive;
            color:#F38BA0;
        
        }
        .main-tratamientos2{
            grid-area: fer2;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos3{
            grid-area: fer3;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos4{
            grid-area: fer4;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos5{
            grid-area: fer5;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos6{
            grid-area: fer6;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos7{
            grid-area: fer7;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        
        .main-tratamientos8{
            grid-area: fer8;
            justify-self: center;
            align-self:flex-end;
            font-size: 15px;
            font-family: 'Delicious Handrawn', cursive;
            color:#F38BA0;
        }
        .main-tratamientos9{
            grid-area: fer9;
            width: 400px;
            height: auto;
            border: 2px solid #FFBCBC;
            display: flex;
            align-self: center;
            justify-self: center;
        }


 


/*------------------------------------   375   */
@media(max-width:375px){
        /* -----------------------   TRATAMIENTOS Media 375 */

        .main-tratamientos{
            display:grid;
            grid-template-columns: auto ;
            grid-template-rows: repeat(15, 1fr);
            grid-template-areas:
            "fer1"
            "fer2"
            "fer2"
            "fer3"
            "fer3"
            "fer4"
            "fer4"
            "fer5"
            "fer5"
            "fer6"
            "fer6"
            "fer7"
            "fer7"
            "fer8"
            "fer9"
            ;
            gap: 2px;
            background-color: var(--rosa3);

        }


        .main-tratamientos1{
            grid-area: fer1;
            justify-self: center;
            align-self: center;
            font-size: 20px;
            font-family: 'Delicious Handrawn', cursive;
            color:#F38BA0;
        
        }
        .main-tratamientos2{
            grid-area: fer2;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos3{
            grid-area: fer3;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos4{
            grid-area: fer4;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos5{
            grid-area: fer5;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos6{
            grid-area: fer6;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .main-tratamientos7{
            grid-area: fer7;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        
        .main-tratamientos8{
            grid-area: fer8;
            justify-self: center;
            align-self:flex-end;
            font-size: 15px;
            font-family: 'Delicious Handrawn', cursive;
            color:#F38BA0;
        }
        .main-tratamientos9{
            grid-area: fer9;
            width: 400px;
            height: auto;
            border: 2px solid #FFBCBC;
            display: flex;
            align-self: center;
            justify-self: center;
        }


    
}