$coLetra1: #AAAAAA;
$colVarios: #F38BA0;
$colFooter: #FFBCBC;
$colHeader: #FFE2E2; 
$claro1: #F6F6F6;
$claro2: #EDF6E5;
$verde1: #B5EAEA;



$font-family_1: 'Delicious Handrawn', cursive;
$font-family_2: 'Lobster', cursive;
$font-family_3: 'Poppins', sans-serif;
$font-family_4: 'Roboto', sans-serif;

