@media(max-width:320px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position:fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: $colHeader;
        transition: all 0.2s ease-in-out;
    }
    
    .menu li{margin-top:40px;}
    .menu li a{padding: 10px;
    color:$colVarios}
    .open-menu, .close-menu{display:block;}
    #check:checked ~ .menu{right: 0;}

    .tratamientos-card{
        width: 20rem;
    }
    .tratamientos-card-text{
        width: 20rem;
    }
    .main-tratamientos9{
        grid-area: fer9;
        width: 320px;
        height: auto;
        border: 2px solid $colFooter;
        display: flex;
        align-self: center;
        justify-self: center;
    }
    .main-tratamientos9 h3{
        text-align: center;
        font-size: 16px;
    }

    .tratamientoTextoCard{
        width: 18rem;
        text-align: center;
    }
}
