.footer {
	grid-area: pie;
	@include grid(repeat 3 1fr,80% 20%,none,none,"f1 f2 f3""f4 f4 f4",.1875rem);
	// display: grid;
	// grid-template-columns: 1fr 1fr 1fr;
	// grid-template-rows: 80% 20%;
	// grid-template-areas: "f1 f2 f3" "f4 f4 f4";
	background-color:$colFooter;
	padding-top: 20px;
	padding-left: 20px;
	color:black;

}
.footer-footer1 {
	h3 {
		grid-area: f1;
		padding-bottom: 10px;
		padding-left: 90px;
		font-family: $font-family_3;
		font-size: 20px;

	}
	figure {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	figcaption {
		width: 250px;
	}
}
.footer-footer2 {
	h3 {
		grid-area: f2;
		padding-left: 170px;
		font-family: $font-family_3;
		font-size: 20px;

	}
	figure {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}
.footer-footer3 {
	grid-area: f3;
	display: flex;
	flex-direction: column;
	h3 {
		padding-bottom: 10px;
		padding-left: 130px;
		font-family: $font-family_3;
		font-size: 20px;

	}
	figure {
		display: flex;
		align-self: center;
		align-items: center;
	}
	figcaption {
		padding-left: 5px;
		p {
			letter-spacing: 2px;
		}
	}
}

.suelafebo {
	h6 {
		grid-area: suela;
		text-align: center;
		flex-direction: row;
		font-size: 14px;
		letter-spacing: 2px;
		color: $coLetra1;
		background-color:$claro1;
	}
} 
