

.nav-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	background-image: url(../assets/img/encabezado2.png);
	padding: 12px 20px;
}
.logo {
	img {
		width: 100px;
	}
}
.menu {
	display: flex;
	li {
		padding-left: 30px;
		a {
			display: inline-block;
			text-decoration: none;
			color: $claro1;
			text-align: center;
			transition: 0.15s ease-in-out;
			position: relative;
			text-transform: uppercase;
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 2px;
				background-color: $colVarios;
				transition: 0.15s ease-in-out;
			}
			&:hover {
				color:$colVarios;
				&:after {
					width: 100%;
		
				}
			}
		}
	}
}
.open-menu , .close-menu {
	position: absolute;
	color: $colVarios;
	cursor: pointer;
	font-size: 1.5rem;
	display: none;

	}

.open-menu	{
	top: 38px;
	right: 20px;
	transform: translateY(-50%);
}


.close-menu{
	top: 20px;
	right: 20px;
}
#check {
	display: none;
}
